ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:wheat;
}
li {
    display: inline;
    color: wheat;
}

body {
    background-color: #6F80E8;
    font-family: 'Fresca', sans-serif;
    text-align:center;
}
p {
    color: wheat;
    font-family: 'Fresca', sans-serif;
}
h1 {
    color:wheat;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
a:link{
    color:wheat;
}
a:visited{
    color:wheat;
}
